/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  padding-top: 300px;
  margin-top: 0px;
  margin-left: 0px;
  background-image: url(../images/apple-pie.jpg);
  background-size: cover;
  height: 700px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.presentation {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 50px;
}

.indicaciones {
  height: 80px;
  margin-left: 370px;
  margin-bottom: 20px;
  text-align: center;
}

.receta {
  height: 90px;
  margin-left: 370px;
}

.Ingredients-section {
  margin: 50px;
}

ul {
  margin: 50px;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

footer {
  text-align: center;
}

/* STYLES */

/* Write your CSS below */
